<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8'>
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge'><![endif]--> {! fix for IE9 rendering in quirks mode !}
    <meta name='viewport' content='width=device-width,initial-scale=1'>
    <meta name='format-detection' content='telephone=no'>
    <title>{content.pageTitle}</title>
    <link rel='stylesheet' href='/css/styles.css'>
  </head>
  <body>
    <main>
      <header>
        <h1>{content.pageHeader}</h1>
        <nav>
          <ul class='topcoat-button-bar'>
            <li class='topcoat-button-bar__item'>
              <a href='/admin' class='topcoat-button-bar__button'>Main</a>
            </li>
            <li class='topcoat-button-bar__item'>
              <a href='/newpost' class='topcoat-button-bar__button'>New</a>
            </li>
            <li class='topcoat-button-bar__item'>
              <a href='/editpost' class='topcoat-button-bar__button'>Bulk Editor</a>
            </li>
          </ul>
        </nav>
      </header>
      {pageContent}
    </main>
    <script type='text/javascript' src='/js/main.js'></script>
  </body>
</html>