<include src='layouts/admin'>
  <arg pageContent>
    <section>
      <loop through='blogPosts' val='blogpost'>
        <form action='/editPost' method='post' id='editBlogPost'>
          <p>
            <label for='editTitle'>Title:</label>
            <input type='hidden' id='postId' name='postId' value='{blogpost.id}'>
            <input type='text' id='editTitle' name='editTitle' value='{blogpost.subject}'>
          </p>
          <p>
            <label for='editContent'>Post:</label>
            <textarea id='editContent' name='editContent'>{blogpost.post}</textarea>
          </p>
          <p>
            <input type='submit' class='topcoat-button' id='editButton' name='editButton' value='Edit Post'>
            <input type='submit' class='topcoat-button' id='deleteButton' name='deleteButton' value='Delete Post'>
          </p>
        </form>
      </loop>
    </section>
  </arg>
</include>