<include src='layouts/main'>
  <arg pageContent>
    <loop through='blogPosts' val='blogpost'>
      <article>
        <h2>{blogpost.subject}</h2>
        <p>{blogpost.post}</p>
        <time datetime='{blogpost.machineDate}'>{blogpost.date}</time>
        <if blogpost.edited>
          <time class='lastEdited' datetime='{blogpost.machineEdited}'>(Last Edited: {blogpost.edited})</time>
        </if>
        <form action='/editPost' method='post' id='editBlogPost'>
          <p>
            <input type='hidden' id='postId' name='postId' value='{blogpost.id}'>
            <input type='submit' class='topcoat-button' formaction='/editSinglePost' id='openEditButton' name='openEditButton' value='Edit Post'>
            <input type='submit' class='topcoat-button' id='deleteButton' name='deleteButton' value='Delete Post'>
          </p>
        </form>
      </article>
    </loop>
  </arg>
</include>